* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: rebeccapurple;
  }

  .gradient-text {
    background: linear-gradient(90deg, #006adb, #50C9CE, #FF7F50, #FFA500);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}