<header class="py-5">
    <div class="container px-5 pb-5">
        <div class="row gx-5 align-items-center">
            <div class="col-xxl-5">
                <div class="text-center text-xxl-start">
                    <div class="fs-2 fs-md-4 fw-light text-muted mb-3 mb-md-1">Jacopo Casanova</div>
                    <h1 class="display-1 fw-bolder mb-5 gradient-text">Full Stack Developer</h1>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                        <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="assets/pdf/CV-di-Jacopo-Casanova.pdf" download>Resume</a>
                        <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" routerLink="/projects">Projects</a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-7 mt-5 mb-md-0 d-flex justify-content-center">
                <div class="profile profile-div bg-gradient-primary-to-secondary">
                    <img class="profile-img" src="assets/images/profile-img.png" alt="...">
                </div>
            </div>
        </div>
    </div>
</header>