.page-items-centre-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-items-div {
    border: 2px solid red;
    padding: 2rem;

    display: flex;
    gap: 2rem;
}

.home-title-div {
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.buttons-home-div {
    display: flex;
    gap: 1rem;

    margin-top: 1rem;
}

.btn-primary {
    background-color: #006adb;
}

.profile-div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    max-height: 90vh;
    max-width: 95vw; 
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

